.DS_Store
node_modules
public/bundle.*

cordova/alphadance.apk

# Non-project-specific build files:
# build.xml
# local.properties
# /gradlew
# /gradlew.bat
# /gradle
# # Ant builds
# ant-build
# ant-gen
# # Eclipse builds
# gen
# out
# # Gradle build artifacts
# .gradle
# .gradletasknamecache
# /build
# /CordovaLib/build
# /app/build
# gradle-app.setting
# # Android Studio
# .idea



# Non-project-specific build files:
build.xml
local.properties
/cordova/gradlew
/cordova/gradlew.bat
/cordova/gradle
# /cordova/platforms
# Ant builds
ant-build
ant-gen
# Eclipse builds
/cordova/gen
/cordova/out
# Gradle build artifacts
/cordova/.gradle
/cordova/.gradletasknamecache
/build
/CordovaLib/build
/app/build
gradle-app.setting
# Android Studio
.idea
/cordova/www

api-6854067923819860823-725894-97e20ebc6987.json